<% layout('layouts/boilerplate.ejs') %>
<form action="/products/<%= product._id %>?_method=PUT" method="POST">
  <div>
    <label for="name">Name</label>
    <input type="text" name="product[name]" id="name" value="<%= product.name %> " />
  </div>
  <div>
    <label for="price">Price</label>
    <input type="number" name="product[price]" id="price" value="<%= product.price %>" />
  </div>
  <button>Edit Product</button>
</form>
