<% layout('layouts/boilerplate.ejs') %>
<h1>Index</h1>
<ul>
  <% products.forEach(product => { %>
  <li><a href="/products/<%= product._id %>"><%= product.name %> - R$ <%= product.price %>.00</a></li>
  <% }) %>
</ul>
