<% layout('layouts/boilerplate.ejs') %>
<p>Specific Product with a specific price of R$<%= product.price %>.00</p>
<form action="/products/<%= product._id %>?_method=DELETE" method="POST">
  <button>Delete</button>
</form>
