<section id="home">
  <div class="container">
    <h2>últimos dias</h2>
    <h1 class="mb-2">
      <span class="home-title-one">Semana</span> do <br /><span class="home-title-two">cliente</span>
    </h1>
    <p>Looks com até 60% de desconto.</p>
    <button class="home-button">COMPRAR</button>
  </div>
</section>
