<header class="sticky-top">
  <nav class="navbar navbar-expand-lg bg-light py-3">
    <div class="container">
      <a href="/"><img class="navbar-logo" src="/logo.svg" alt="" /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span><i class="navbar-icon fa-solid fa-bars"></i></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link nav-link-text" href="/products?q=feminino">Feminino</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-text" href="/products?q=masculino">Masculino</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-text" href="/products?q=infantil">Infantil</a>
          </li>
          <li class="nav-item">
            <i class="nav-link fa-solid fa-shopping-bag"></i>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
