<section class="new w-100" id="new">
  <div class="row p-0 m-0">
    <div class="new-product col-lg-4 col-md-12 col-12 p-0">
      <img class="img-fluid" src="images/artem-beliaikin-kTd2PvtqE_o-unsplash.jpg" alt="" />
      <div class="details">
        <h2>Products 50% Off</h2>
        <button>Shop Now</button>
      </div>
    </div>
    <div class="new-product col-lg-4 col-md-12 col-12 p-0">
      <img class="img-fluid" src="images/laura-chouette-zrtov5GAugE-unsplash.jpg" alt="" />
      <div class="details">
        <h2>Quality Products</h2>
        <button>Shop Now</button>
      </div>
    </div>
    <div class="new-product col-lg-4 col-md-12 col-12 p-0">
      <img class="img-fluid" src="images/s-o-c-i-a-l-c-u-t-aXJdmnxauwY-unsplash.jpg" alt="" />
      <div class="details">
        <h2>Quality Products</h2>
        <button>Shop Now</button>
      </div>
    </div>
  </div>
</section>
